<section class="hero is-link is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do %>
            <span class="has-textweight-bold is-size-4 ml-4">Placas de carros</span>
          <% end %>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to "Registrar nova placa", new_car_plate_path, class: "button is-success" %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>