  <div class="columns mt-6 is-centered">
    <h3 class="title has-text-weight-bold">
      Cadastrar <%= t('activerecord.models.car_plate.one')%>
    </h3>
  </div>
<%= render 'form', car_plates: @car_plates %>